streamlit==1.39.0
unstructured[all-docs]==0.16.23
langchain-chroma==0.2.2
langchain-core==0.3.37
langchain==0.3.19
langchain-groq==0.2.4
sentence-transformers==3.4.1
transformers==4.48.3
pillow==10.2.0
pdf2image==1.17.0
pytesseract==0.3.13
tf_keras==2.18.0
opencv-python-headless==4.9.0.80

